# Service Configuration
PROJECT_NAME=auth
WORKER_ID=0
DEBUG=True

# Postgres Test Configuration
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5435
POSTGRES_DB=please_text_me_test_db
POSTGRES_USER=test_user
POSTGRES_PASSWORD=test_password
POSTGRES_ECHO=False

# Redis Test Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6380
REDIS_DB=0
