# Service Configuration
PROJECT_NAME=auth
WORKER_ID=0
DEBUG=True

# Postgres Configuration
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=please_text_me_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_ECHO=False

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
